*
{
    margin: 0%;
    padding: 0%;

}
img
{
    border-radius: 50%;
    
    
}
.grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-row-end:  */

    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-areas: 
    "title title title"
    "header header header"
    "contnt contnt sidebar"
    "footer footer footer";
}

.bg,.bc
{
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.table
{
    padding-top: 3rem;
}

.title
{
    /* grid-column-start: 1;
    grid-column-end: 4; */

    grid-area: title;

}
.header
{
    grid-area: header;
}
.sidebar
{
    grid-area: sidebar;
    /* justify-self: center; */
    /* align-self: center; */
}
.contnt
{
    grid-area: contnt;
    padding-inline-start: 1rem;
}
.footer
{
    grid-area: footer;
}
.grid
{
    background-image: url(Background.JPG);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}



/* .grid div:nth-child(even)
{
    background-color: rgb(0, 247, 255);
}
.grid div:nth-child(odd)
{
    background-color: coral;
} */
.Navigation_Bar
{
    

overflow: hidden;
background-color:black;
position: fixed;
top: 0%;
width: 100%;

}
.Navigation_Bar a{
    float: left;
    color:khaki;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }

 .Navigation_Bar a:hover {
    background-color: #ddd;
    color: black;
 }

#hd
{
    padding-top: 1rem;
}
.ff
{
    padding-top: 4rem;
    padding-left: 4rem;

}
.bc
{
    padding-top: 3rem;

}
#hd
{

    text-align: center;

}
#CT
{
    font-family: cursive;
    color: crimson;

}
.foot
{
    padding-top: 25rem;
}